:root{
    /* color primari */
    --color-dark: hsl(233, 47%, 7%);
    --color-dark-blue: hsl(244, 38%, 16%);
    --color-violet: hsl(277, 64%, 61%);
    /* color neutral */
    --color-white: hsl(0, 0%, 100%);
    --color-white-transparent: hsla(0, 0%, 100%, 0.75);
    --color-white-transparent-two: hsla(0, 0%, 100%, 0.6);
    /* Fonts */
    --font-main: 'Inter', sans-serif;
    --font-second: 'Lexend Deca', sans-serif;
}
body{
    background-color: var(--color-dark) ;
}
.container{
    width: 85%;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
    overflow-y: hidden;
    margin-top: 80px;
    background: var(--color-dark-blue)
}
.filter{
    background-image: linear-gradient(
        hsl(277, 64%, 61%),
        hsl(277, 64%, 61%)
    ),
    url(../images/image-header-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
}
main{
    text-align: center;
}
.title{
    font-family: var(--font-main);
    width: 80%;
    margin: 40px auto 20px;
    color: var(--color-white-transparent);
    font-size: 26px;
    font-weight: 700;
}
.title .invert{
    color: var(--color-violet);
}
.description{
    font-family: var(--font-main);
    color: var(--color-white-transparent-two);
    font-size: 15px;
    margin: 0 auto;
    width: 80%;
    filter: opacity(.6);
    font-weight: 400;
    line-height: 24px;
}
.info{
    margin: 40px 35px;
}
.info>div{
    margin: 20px auto;
}
.info span{
    display: block;
}
.info__item--num{
    color: var(--color-white-transparent);
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 20px;
}
.info__item--desc{
    font-family: var(--font-second);
    text-transform: uppercase;
    color: var(--color-white-transparent-two);
    font-size: 10px;
    margin: 8px;
    filter: opacity(.6);

}
.attribution{
    width: 85%;
    margin: 0 auto;
    color: var(--color-white-transparent);
    padding: 10px 20px;
    text-align: center;
    font-family: var(--font-second);
    font-size: 15px;
}
